@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
    padding: 0;
    margin: 0;
}

body {
    background: #000;
}

h1, h2, h3, p {
    color: #fff;
}

.home-content p {
    @apply mt-5;
}

.create-item {
    @apply flex;
    @apply flex-col;
}

.create-item label {
    @apply text-white;
}

.search-item {
    @apply grid;
    @apply grid-cols-2;
    @apply mb-5;
    @apply text-white;
}

.search-item input {
    @apply bg-black;
    @apply w-full;
}