.navbar {
    display: flex;
}

.navbar a {
    border: black 1px solid;
    text-decoration: none;
    padding: 5px;
    margin: 5px;
}

.headshot {
    max-width: 100%;
    width: 200px;
}

.create-form-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.create-form-container div {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 5px;
    margin-bottom: 20px;
}

/* Search Page */
.search-container {
    background-color: gray;
    margin: 15px;
}

.inner-container {
    display: flex;
    align-items: center;
}

input {
    font-size: 16px;
    line-height: 28px;
    padding: 8px 16px;
    max-width: 500px;
    min-height: 44px;
    border: unset;
    border-radius: 4px;
    outline-color: rgb(84 105 212 / 0.5);
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}